
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
.idea
/var/
/vendor/
/databases/*
/logs/nginx/*
###< symfony/framework-bundle ###
